<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="table.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Waiter</title>
</head>
<body>
    <div class="row">
        <div class="col-lg-12 col-md-6 col-lg-3">
            <h1 style="text-align: center;">WAITER</h1>
            <table>
                <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>PHONE NUMBER</th>
                <th>E-MAIL</th>
                <th>ADDRESS</th>
                <tH>SALARY</tH>
                <th>Action</th>
                </tr>
                <!--  showing waiter details on webpage from database -->
                <% waiters.forEach(waiter => { %>
                    <tr>
                        <td><%= waiter.idWaiter %></td>
                        <td><%= waiter.name %></td>
                        <td><%= waiter.phoneNumber %></td>
                        <td><%= waiter.email %></td>
                        <td><%= waiter.address %></td>
                        <td><%= waiter.salary %></td>
                        <td><a href='/waiterDelete/<%= waiter.idWaiter %>' ><button class="btn btn-danger" >Delete</button></a><a href='/waiterEdit/<%= waiter.idWaiter %>'><button class="btn btn-warning">Edit</button></a></td>
                    </tr>
                <% }) %>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>